<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Server Error occured!</h1>
    <p>Sorry for inconvenience :( We are working on it...</p>

<%- include('includes/end.ejs') %>